@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

%center {text-align: center;}

@mixin block-shadow($color, $height: 3px){
    box-shadow: 0px $height 5px $color;
  }

$grey:      #353535;
$light:     #f6f6f6;
$primary:   #9356dc;
$secondary: #ff79da;
$tertiary:  #99e2d0;

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: auto;
    h1, h2 {
        margin-bottom: 0;
    }
}

header {
    picture {
        @extend %center;
        position: relative;
        display: block;
        @include block-shadow(#aaa,0px);
        img {
            padding-top: 20px;
            padding-bottom: 5px;
            width: 165px;
        }
    }
}

aside {
    @extend %center;
    background-color: #eaeaea;
    color: $grey;
    font-weight: 500;
    height: 50px;
    p {
        margin: 0;
        padding-top: 15px;
    }
    .fa-map-marker-alt::before {
        position: relative;
        left: -15px;
    }
}

.welcome {
    @extend %center;
    background-color: $light;
    padding: 50px;
    p {color: $grey;}
    h1 {margin-top: -15px;}
    &__btn {
        background-color: $primary;
        background: linear-gradient(355deg, $primary 0%, $secondary 100%);
        @include block-shadow(#bbb);
        border-radius: 23px;
        border: none;
        width: 218px;
        height: 50px;
        font-size: 1.05em;
        color: white;
        cursor: pointer;
    }
}

.nav, .restos, footer {
    padding: 20px;
}

/*The nav has a seemingly redundant .nav class to ease nesting*/
.nav {
    &__btn {
        background-color: $light;
        padding: 25px 50px;
        @include block-shadow(#ddd);
        border-radius: 16px/19px;
        border: none;
        width: -moz-available;          /* For Firefox */
        width: -webkit-fill-available;  /* For Chrome */
        width: stretch;  
        margin: 10px;
        font-weight:  500;
        font-size: 1.05em;
        cursor: pointer;
        &:hover {
            background-color: #f5edff;
            + .fas {
                color:$primary;
            }
        }
    }
    .fas {
        position: relative;
        width: 24px;
        left: 44px;
        bottom:  56px;
        color: #7e7e7e;
        font-size: 1.1em;
    } 
    &__digit {
        display: inline-block;
        background-color: $primary;
        border-radius: 50%;
        width : 24px;
        height: 24px;
        color: white;
        position: relative;
        right: 26px;
        bottom:  55px;
        font-weight:  400;
        font-size:  0.9em;
        line-height: 25px;
        text-align: center;
    } 
}

.restos {
    background-color: $light;
    h1 {padding-bottom: 25px;}
    #resto-2 img {
        object-position: center 61%;
    }
    &__indv {
        border-radius: 12px;
        @include block-shadow(#ddd,5px);
        width: -moz-available;          /* For Firefox */
        width: -webkit-fill-available;  /* For Chrome */
        width: stretch;
        cursor: pointer;
        img {
            border-radius: 12px 12px 0 0;
            width:   100%;
            height: 174px;
            object-fit: cover;
            object-position: center 100%;
        }
        p   {
            padding-left: 12px;
            padding-bottom: 12px;
            margin-top: 0;
        }
        h2{
            font-size: 1.2em;
            padding-left: 12px;
        }
        .fa-heart {
            position: absolute;
            left: 300px;
            margin-top: -20px;
            font-size: 2em;
        }
        .fas {
            z-index: 1;
            opacity: 0;
            background-color: $primary;
            background: linear-gradient(200deg, $primary 0%, $secondary 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        .fas:hover {
            opacity: 1;
            + .far {
                opacity: 0;
            }
        }
        &--new {
/*By default the label is available for each featured article, but is only displayed when required*/
            display: none;
            position: absolute;
            right:        42px;
            margin-top: -160px;
            padding:  5px 10px;
            border-radius: 2px;
            background-color: $tertiary;
            color: hsl(hue($tertiary), 100%, 26.47%);
            font-weight: 500;
            font-size: 0.8em;
            &#new-1, &#new-2 {
                display: block;
            }
        }
    }
}

footer {
    background-color: $grey;
    img {
        filter: invert(1); /*white*/
        width: 100px;
        padding: 8px 0;
    }
    .fas {
        color: white;
        font-size: 0.75em;
        position: relative;
        width: 18px;
        bottom:1px;
    }
    a {
        color: white;
        font-size: 0.9;
        font-weight: 400;
        display: block;
        margin: 5px 0;
        text-decoration: none;
    }
}