@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$grey:      #353535;
$light:     #f6f6f6;
$primary:   #9356dc;
$secondary: #ff79da;
$tertiary:  #99e2d0;

@mixin block-shadow($color, $height: 3px){
    box-shadow: 0px $height 5px $color;
  }

@mixin heart ($offset: 0) {
    position: absolute;
    left: 300px;
    margin-top: $offset;
    font-size: 2em;
}


%center {text-align: center;}
%default-padding {padding: 20px;}
%light-bg {background-color: $light;}

%button {
    background-color: $primary;
    background: linear-gradient(355deg, $primary 0%, $secondary 100%);
    @include block-shadow(#bbb);
    border-radius: 23px;
    border: none;
    width: 218px;
    height: 50px;
    font-size: 1.05em;
    color: white;
    cursor: pointer;
}

@keyframes check--on {
    from {width: 0   ;}
    to   {width: 59px;}
}

@keyframes check--off {
    from {width: 59px;}
    to   {width: 0   ;}
}

@keyframes checkfas--rotate {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to   {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}
  


/* Non-specific settings */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: auto;
    h1, h2 {
        margin-bottom: 0;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    .in {
        position: relative;
        right: 4px;
        margin-right: -4px;
    }
}

/* Shared header */
header {
    a {
        @extend %default-padding;
        display: block;
        font-size: 1.5em;
        position: absolute;
        color: $grey;
        z-index: 1;
    }
    picture {
        @extend %center;
        position: relative;
        display: block;
        @include block-shadow(#aaa,0px);
        img {
            padding-top: 20px;
            padding-bottom: 5px;
            width: 165px;
        }
    }
}

/* Homepage specific classes */
aside {
    @extend %center;
    background-color: #eaeaea;
    color: $grey;
    font-weight: 500;
    height: 50px;
    p {
        margin: 0;
        padding-top: 15px;
    }
    .fa-map-marker-alt::before {
        position: relative;
        left: -15px;
    }
}

.welcome {
    @extend %center;
    @extend %light-bg;
    padding: 50px;
    p {color: $grey;}
    h1 {margin-top: -15px;}
    &__btn {
        @extend %button;
    }
}

.nav {
    @extend %default-padding;
    &__btn {
        @extend %light-bg;
        padding: 25px 50px;
        @include block-shadow(#ddd);
        border-radius: 16px/19px;
        border: none;
        width: -moz-available;          /* For Firefox */
        width: -webkit-fill-available;  /* For Chrome */
        width: stretch;  
        margin: 10px;
        font-weight:  500;
        font-size: 1.05em;
        cursor: pointer;
        &:hover, &:active {
            background-color: #f5edff;
            + .fas {
                color:$primary;
            }
        }
    }
    .fas {
        position: relative;
        width: 24px;
        left: 44px;
        bottom:  56px;
        color: #7e7e7e;
        font-size: 1.1em;
    } 
    &__digit {
        display: inline-block;
        background-color: $primary;
        border-radius: 50%;
        width : 24px;
        height: 24px;
        color: white;
        position: relative;
        right: 26px;
        bottom:  55px;
        font-weight:  400;
        font-size:  0.9em;
        line-height: 25px;
        text-align: center;
    } 
}

.restos {
    @extend %default-padding;
    @extend %light-bg;
    h1 {padding-bottom: 25px;}
    #resto-2 img {
        object-position: center 61%;
    }
    &__indv {
        border-radius: 12px;
        @include block-shadow(#ddd,5px);
        width: -moz-available;          /* For Firefox */
        width: -webkit-fill-available;  /* For Chrome */
        width: stretch;
        cursor: pointer;
        img {
            border-radius: 12px 12px 0 0;
            width:   100%;
            height: 174px;
            object-fit: cover;
            object-position: center 100%;
        }
        p   {
            padding-left: 12px;
            padding-bottom: 12px;
            margin-top: 0;
        }
        h2{
            font-size: 1.2em;
            padding-left: 12px;
        }
        .fa-heart {
            @include heart(-20px);
        }
        &--new {
/*By default the label is available for each featured article, but is only displayed when required*/
            display: none;
            position: absolute;
            right:        42px;
            margin-top: -160px;
            padding:  5px 10px;
            border-radius: 2px;
            background-color: $tertiary;
            color: hsl(hue($tertiary), 100%, 26.47%);
            font-weight: 500;
            font-size: 0.8em;
            &#new-1, &#new-2 {
                display: block;
            }
        }
    }
}

/* Shared heart react animation */
.fas.fa-heart {
    z-index: 1;
    opacity: 0;
    background-color: $primary;
    background: linear-gradient(200deg, $primary 0%, $secondary 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    &:hover, &:active {
        opacity: 1;
        + .far.fa-heart {
            opacity: 0;
        }
    }
}

/* Restaurant pages classes*/
.headline {
    display: flex;
    height: 254px;
    img {
        object-fit: cover;
        width: 100%;
    }
}

.overlap-title {
    @extend %default-padding;
    @extend %light-bg;
    position: relative;
    top: -38px;
    margin-bottom: -67px;
    border-radius: 35px 35px/39px 39px 0 0;
    h1 {
        font-family: 'Shrikhand', cursive;
        margin-top: 10px;
    }
    .fa-heart {
        @include heart(-36px);
    }
}

.appetizer, .meal, .dessert {
    @extend %default-padding;
    @extend %light-bg;
    h1 {
        font-weight: 300;
        font-size: 1em;
        text-transform: uppercase;
        &::after {
            content: "";
            display: block;
            width: 40px;
            height: 3px;
            margin-top: 3px;
            background-color: $tertiary;
        }
    }
    &__indv {
        @include block-shadow(#eee,10px);
        padding: 0 10px;
        border-radius: 12px;
        background-color: white;
        font-size: 0.8em;
        .main-course {
            padding-top:    10px;
            margin-bottom: -10px;
            font-weight: 500;
        }
        .side {
            display: inline-block;
        }
        .price {
            display: inline-block;
            position: absolute;
            right: 40px;
            margin-top: 14px;
            font-weight: 500
        }
        .check {
            display: flex;
            position: absolute;
            right: 20px;
            margin-top: -65px;
            height: 65px;
            width: 0px;
            animation: check--off 500ms;
            border-radius: 0 12px 12px 0;
            background-color: $tertiary;
            align-items: center;
            justify-content: center;
            .fas {
                display: block;
                font-size: 2em;
                color: white;
                overflow: hidden;
            }
        }
        &:hover .check {
            animation: check--on 500ms forwards;
            .fas {
                animation: checkfas--rotate 500ms forwards;
            }
        }
    }
}

.order {
    @extend %light-bg;
    @extend %center;
    height: 130px;
    &__btn {
        @extend %button;
        margin-top: 25px;
    }
}

/* Shared footer */
footer {
    @extend %default-padding;
    background-color: $grey;
    img {
        filter: invert(1); /*white*/
        width: 100px;
        padding: 8px 0;
    }
    .fas {
        color: white;
        font-size: 0.75em;
        position: relative;
        width: 18px;
        bottom:1px;
    }
    a {
        color: white;
        font-size: 0.9;
        font-weight: 400;
        display: block;
        margin: 5px 0;
        text-decoration: none;
    }
}